PROJECT_NAME=fabrica-estagiarios
PORT=3000
APP_ENV=development
APP_VERSION=dev
SESSION_SECRET=dev-secret-troque-em-producao

POSTGRES_HOST=fabrica-estagiarios-web
POSTGRES_PORT=5432
POSTGRES_USER=appuser
POSTGRES_PASSWORD=changeme
POSTGRES_DB=fabrica-estagiarios-web

